<!DOCTYPE html>
<html lang="en">
  <head>
    <title>GREENX Pest Control Service</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 
    <link rel="stylesheet" href="/css/animate.css">
    
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">

    <link rel="stylesheet" href="/css/ionicons.min.css">
    
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/icomoon.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <div class="container pt-5 pb-4">
			<div class="row justify-content-between">
				<div class="col-md-8 order-md-last">
					<div class="row">
						<div class="col-md-6 text-center">
							<a class="navbar-brand" href="/">GREEN<span>X</span></a>
						</div>
						
					</div>
				</div>
				<div class="col-md-4 d-flex">
					
				</div>
			</div>
		</div>
		<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container-fluid">
	    
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="fa fa-bars"></span> Menu
	      </button>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav m-auto">
	        	<li class="nav-item"><a href="/" class="nav-link">Home</a></li>
	        	<!-- <li class="nav-item"><a href="about.html" class="nav-link">About us</a></li> -->
				<li class="nav-item dropdown">
					<a href="" class="nav-link dropdown-toggle" id="servicesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Services
					</a>
					<div class="dropdown-menu" aria-labelledby="servicesDropdown">
						<% allServices.forEach(service=>{%>
							<a class="dropdown-item" href="/services/<%=service.servicetitle%>"><%=service.serviceName%></a>
						<%})%>
					</div>
				</li>
	        	<!-- <li class="nav-item"><a href="gallery.html" class="nav-link">Gallery</a></li> -->
	        	<!-- <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li> -->
	          <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->
    
	<section class="hero-wrap hero-wrap-2" style="background-image: url('/uploads/<%= service.serviceImage %>');" data-stellar-background-ratio="0.5">

      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center">
            <h1 class="mb-3 bread"><%=service.serviceName%></h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Services <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>
   	
		
    

	<section class="ftco-section">
		<div class="container">
		  <div class="row">
			<div class="col-md-12">
			  <h2 class="section-heading"><%=service.serviceName%></h2>
			 
			  <p class="section-description"><%=service.serviceDescription%></p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h2>Service Features:</h2>
				<ul>
				  <% try { %>
					<% const serviceFeatures = service.serviceFeatures.ops; %>
					<% serviceFeatures.forEach(op => { %>
					  <% if (op.insert.trim() !== "") { %>
						<li><%= op.insert %></li>
					  <% } %>
					<% }); %>
				  <% } catch (error) { %>
					<p>Error parsing service features: <%= error.message %></p>
				  <% } %>
				</ul>
			</div>
		  </div>
		</div>
	  </section>
	  

   

	  <footer class="ftco-footer ftco-bg-dark ftco-section">
		<div class="container">
		  <div class="row mb-5">
			<div class="col-md-6 col-lg">
			  <div class="ftco-footer-widget mb-4">
				<h2 class="logo"><a href="#">GREEN <span>X</span></a></h2>
				<p style="color: white;">Unwanted Guests? We show them the Door!!</p>
				<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
				  <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
				  <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
				  <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
				</ul>
			  </div>
			</div>
			<div class="col-md-6 col-lg">
			  <div class="ftco-footer-widget mb-4 ml-md-5">
				<h2 class="ftco-heading-2">Services</h2>
				<ul class="list-unstyled">
				  <li><a href="#" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Rodent Control Service</a></li>
				  <li><a href="#" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Bird Netting</a></li>
				  <li><a href="#" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>General Pest Control Service</a></li>
				  <li><a href="#" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Termite Control Service</a></li>
				  <li><a href="#" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Bed Bug Service</a></li>
				</ul>
			  </div>
			</div>
			<div class="col-md-6 col-lg">
			  <div class="ftco-footer-widget mb-4">
				  <h2 class="ftco-heading-2">Contact information</h2>
				  <div class="block-23 mb-3">
					<ul>
					  <li><span class="icon icon-map-marker"></span><span class="text">Door#: 46/1071/C, 2nd Floor, Opp: St.Sebastian Church,Chakkaraparambu, Vennala PO, Kochi, 682028</span></li>
					  <li><a href="#"><span class="icon icon-phone"></span><span class="text">6282297855/6238094939/8714205474</span></a></li>
					  <li><a href="#"><span class="icon icon-envelope"></span><span class="text">greenxpcs@gmail.com</span></a></li>
					</ul>
				  </div>
			  </div>
			</div>
			<div class="col-md-6 col-lg">
			   <div class="ftco-footer-widget mb-4">
				<h2 class="ftco-heading-2">Business Hours</h2>
				<div class="opening-hours">
					<h4>Opening Days:</h4>
					<p class="pl-3">
						<span>Monday–Saturday:9am to 6pm</span>
						<span></span>
					</p>
					<h4>Vacations:</h4>
					<p class="pl-3">
						<span>Sunday & All Official Holidays</span>
						<span></span>
					</p>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="row">
			<div class="col-md-12 text-center">
  
			  <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
	
	<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
			</div>
		  </div>
		</div>
	  </footer>
	  
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.easing.1.3.js"></script>
  <script src="/js/jquery.waypoints.min.js"></script>
  <script src="/js/jquery.stellar.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/scrollax.min.js"></script>
  <script src="/https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="/js/google-map.js"></script>
  <script src="/js/main.js"></script>

   <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
    
  </body>
</html>